
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
   color: white;
    font-weight: 600;
    text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
.btn-status{
  	font-size: 12px;
    border: 0;
    color: white;
    text-transform: capitalize;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin-left:10px
}
.menu-label{
	text-transform: capitalize;
}
