.app-detail{
    .site-tag-plus {
        background: #fff;
        border-style: dashed;
      }
      .edit-tag {
        user-select: none;
      }
      .tag-input {
        width: 78px;
        margin-right: 8px;
        vertical-align: top;
      }
      .app-small-timestamp{
        small{
        display: block;
        margin-top: 10px;
        }
      }
    } 