name: build

on:
  push:
    branches: [ master, v2 ]
  pull_request:
    branches: [ master, v2 ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.20
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20
      id: go

    - name: Set up Nodejs 16
      uses: actions/setup-node@v2
      with:
        node-version: 16.20.1
      id: node

    - name: Check out code
      uses: actions/checkout@v2

    - name: Build
      run: |
        CI=false make build-web-ui
        make lint-pkgs
        make lint
        make examples
        make test
        make build
