name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.16
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Set up Nodejs 16
      uses: actions/setup-node@v2
      with:
        node-version: ^16.3
      id: node

    - name: Check out code
      uses: actions/checkout@v2

    - name: Build
      run: |
        make build-web-ui
        make lint-pkgs
        make lint
        make examples
        make test
        make build

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: ./acc.out
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)